.search-result-upper{
  display: flex;               /* Flexboxを有効化 */
  justify-content: center;     /* 横軸で中央揃え */
  align-items: center;         /* 縦軸で中央揃え */
  text-align: center;          /* テキストも中央揃え */
  min-height: 50px;           /* このdivの最小の高さを設定 */
  margin: auto;                /* 自動的に上下左右のマージンを設定して中央揃え */
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.search-result {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex; /* フレックスコンテナとして設定 */
  flex-wrap: wrap; /* 要素が多い場合に折り返し */
  justify-content: space-around; /* アイテム間の隙間を均等に */
}

.search-result-index {
  width: calc(20% - 30px); /* 1行に5つ表示するための計算（余白を考慮） */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 15px; /* 上下左右のマージン */
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  display: flex; /* 内容をフレックスボックスとして扱う */
  flex-direction: column; /* 要素を縦方向に並べる */
  border-radius: 5px;

}

.wine-information {
  height: 120px;  /* 適切な高さに設定 */
  overflow: hidden;  /* 内容が高さを超えた場合に非表示にする */
  padding: 5px; /* 内容と境界の間にスペースを設ける */
}

.wine-information h3 {
  margin-top: 0;
  margin-bottom: 10px; /* 各項目間の隙間を設定 */
  font-size: 16px; /* フォントサイズの調整 */
  color: #333; /* フォントカラー */
}
.wine-image-index {
  width: 100%;
  height: auto; /* 画像の元のアスペクト比を保持 */
  margin-bottom: 10px; /* 画像とテキストの間にマージン */
}

.details-link {
  display: block;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color:#663333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.details-link:hover {
  background-color: #0056b3;
}

