<header>
      <div class="navbar">
        <div class="nav-left">
          <ul class="nav"><a href="#">アイムソムとは？</a></ul>
          <ul class="nav"><a href="#">ワ活</a></ul>
          <ul class="nav"><a href="#">ワインニュース</a></ul>
        </div>
        <div class="nav-right">
          <ul class="sign-in"><a href="#">新規登録</a></ul>
          <ul class="log-in"><a href="#">ログイン</a></ul>
          <ul class="log-out"><a href="#">ログアウト</a></ul>
          <ul class="notification"><a href="#">通知アイコン</a></ul>
          <ul class="icon"><%= link_to image_tag(current_user.avatar, class:"icon"), "#" %></ul>
          
        </div>
      </div>
    </header>
