
body {
  font-family: "Meiryo", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

/* ヘッダー（始） */

.navbar {
  width: 100vw;
  height: auto;
  background-color: #663333;
  display: flex;
  font-size: 20px;  
  padding: 10px 20px;
  font-weight: bold;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav {
  margin: 0 15px;
}
.nav-right {
  display: flex;
  align-items: center;

}

.icon {
 margin-left: 15px;
}
.icon img {
  width: 50px;
  height: 50px; 
  border-radius: 50%; 
}

.notification{
  width: 50px;
  height: 50px; 
  border-radius: 50%;
  margin-left: 15px;

}

.log-out{
  padding: 4px;
  border-radius: 5px;
  margin-left: 15px;
  color: white;
}

.sign-in{
  padding: 4px;
  border-radius: 5px;
  margin-left: 15px;
  background-color: white;
  color: #663333;
}

.log-in{
  padding: 4px;
  border-radius: 5px;
  margin-left: 15px;
  color: white;
}


.log-out:hover, .log-in:hover {
  background-color: #D2D2D2;
  color: #663333;
}

.sign-in:hover {
  background-color: #521F1F;
  color: white;
}



/* ヘッダー（終） */


/* ロゴ＆検索画面（始） */

main {
  min-height: 100vh;
}

.main-first {
  width: 100vw;
  height: auto;
  background-color: #663333;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  margin: 20px 0 30px 0;
  z-index: 1;
}
.search-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 20px 0 0 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .search-container input[type="text"]::placeholder {
    font-size: 14px; /* 画面幅に応じて適切なサイズを指定 */
  }
}

/* 画面幅が 601px 以上の場合 */
@media (min-width: 601px) {
  .search-container input[type="text"]::placeholder {
    font-size: 18px; /* 画面幅に応じて適切なサイズを指定 */
  }
}

.search-container-button {
  padding: 5px 10px;
  background-color: #34495E;
  color: #fff;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.modal-body{
  color: black;
  font-size: 14px;
}

/* チェックボックスとラベルのコンテナに適用 */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 各項目の間隔を設定 */  
  padding: 5px;

}

.checkbox-container label {
  display: flex;
  align-items: center; /* チェックボックスとラベルの縦位置を揃える */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px; /* チェックボックスとラベルの間隔 */
}

.checkbox-container h5 {
  margin-bottom: 10px; /* タイトル下の余白 */
  font-size: 20px;
  font-weight: bold;
  border-bottom: #CCC solid 1px;
}

.checkbox-container {
  margin-top: 20px; /* セクション間の余白 */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; /* ラベルが基線に沿って整列する */
}

.checkbox-item {
  flex: 1 1 20%; /* 各アイテムが行内で均等に配置される */
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* チェックボックスとラベルが垂直方向の中央に来るよう調整 */
}

.modal-footer{
  justify-content: center;
}

.description{}


.logo {

}
.logo img {
  width: 350px;
  height: 350px;  
}
.wine {
  height: 300px;
  width: 100vw;
  opacity: 30%;
  object-fit: cover;
  margin-bottom: 30px;
}
.background-image {
  width: 100%;
  height: 100%;
  z-index: 0; /* 背景画像が最背面になるようにする */
  background-size: cover; /* 画像が要素にフィットするように調整 */
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.post-review-btn{
  width: 120px;
  background: #34495E;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;

}
.post-review-text{
  color: #fff;
  display: block;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: bold;

}
.post-review-btn-icon{
  width: 60%;
}


.btn-primary{
  width: 200px;
  border-radius: 20px;
  font-weight: bold;
  border: 3px solid white;
  background-color: #663333;
  z-index: 1;
}



/* ロゴ＆検索画面（終） */

/* 新着レビュー（始） */
.new-reviews-area{
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
}
.new-reviews{
  font-weight: bold;
  font-size: 24px;
  margin-top: 15px;
}
/* 新着レビュー（終） */

/* 投稿一覧（始） */
.main-second {
  width: 100%;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reviwes{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* 中央に配置 */
}
.review{
  background-color: white;
  width: 100%; /* 固定値から幅をパーセンテージに変更 */
  max-width: 900px; /* 最大幅を設定 */
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  
}

.review-top{
  border-bottom:black;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.date-name{
  margin: 0 30px;
}

.user-name{
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
}
a.user-name-color{
  color: #757575;
}

.wine-date{
  flex-grow: 0;
  flex-shrink: 0;
  color: #757575;
  font-size: 12px;
}

.wine-name{
  max-width: 100%;
  font-size: clamp(14px, 2.5vw, 18px);
  white-space: normal;
  overflow-wrap: break-word;
  
}

a.wine-name-color{
  color:  #0066CC;
}


.review-content{
  display: flex;
  padding: 10px;
  font-size: 20px;
  position: relative;
}

.review-text{
  margin-left: 30px;
  width: 70%; /* 固定値から幅をパーセンテージに変更 */
  max-width: calc(100% - 230px); /* 最大幅を設定 */
  padding: 10px;
}



.avatar{
  width: 80px;
  height: 80px; 
  border-radius: 50%;
  margin: 5px 0 0 10px;
}

.review-image{
  width: 190px;
  height: 190px;
  margin-left: 10px;
}

.link-to-show{
  font-size: 14px;
  display: flex; 
  position: absolute;
  bottom: 20px; /* 望む位置に調整 */
  right: 30px; /* 望む位置に調整 */
}
  
.edit-link {
  color: #757575;
  margin-right: 10px;
}

.delete-link {
  color: #757575;
  margin-right: 10px;
}

.show-link {
  color: #757575;
  margin-right: 10px;
}


.edit-link:hover, .delete-link:hover, .show-link:hover {
  color: black;
}



/* 投稿一覧（終） */

/* フッター（始） */
footer {
  height: 70px;
  width: 100vw;
  background-color:#663333;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* フッター（終） */
