@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: "Meiryo", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}
/* ヘッダー（始） */

.navbar {
  width: 100vw;
  height: 70px;
  background-color: #663333;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
  
}
.nav-left {
  display: flex;
  
}
.nav {
  margin: 0 20px;
}
.nav-right {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  

}

.icon {
  margin-right: 50px;
}
.icon img {
  width: 50px;
  height: 50px; 
  border-radius: 50%; 
}

.notification{
  width: 50px;
  height: 50px; 
  border-radius: 50%;

}

.log-out{
  border: 3px solid white;
  padding: 3px;
  border-radius: 10px;
}

.sign-in{
  border: 3px solid white;
  padding: 3px;
  border-radius: 10px;
}

.log-in{
  border: 3px solid white;
  padding: 3px;
  border-radius: 10px;
}



/* ヘッダー（終） */


/* ロゴ＆検索画面（始） */

main {
  min-height: 100vh;
}

.main-first {
  width: 100vw;
  height: 900px; /* 変更 */
  background-color: #663333;
  font-size: 25px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  }

.search-container {
  display: flex;
  align-items: center;
  width: 600px;
  height: 200px;
  margin-bottom: 30px;
}
.search-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 20px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.search-container-button {
  padding: 5px 10px;
  background-color: #666633;
  color: #fff;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.modal-body{
  color: black;
  font-size: 14px;
}

/* チェックボックスとラベルのコンテナに適用 */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 各項目の間隔を設定 */  
  padding: 5px;

}

.checkbox-container label {
  display: flex;
  align-items: center; /* チェックボックスとラベルの縦位置を揃える */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px; /* チェックボックスとラベルの間隔 */
}

.checkbox-container h5 {
  margin-bottom: 10px; /* タイトル下の余白 */
  font-size: 20px;
  font-weight: bold;
  border-bottom: #CCC solid 1px;
}

.checkbox-container {
  margin-top: 20px; /* セクション間の余白 */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; /* ラベルが基線に沿って整列する */
}

.checkbox-item {
  flex: 1 1 20%; /* 各アイテムが行内で均等に配置される */
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* チェックボックスとラベルが垂直方向の中央に来るよう調整 */
}

.modal-footer{
  justify-content: center;
}




.logo {
  margin-top: 30px;
}
.logo img {
  width: 300px;
  height: 300px;  
}
.wine {
  height: 300px;
  width: 100vw;
  opacity: 30%;
  object-fit: cover;
  margin-bottom: 30px;
}
.post-review-btn{
  width: 120px;
  background: #666633;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;

}
.post-review-text{
  color: #fff;
  display: block;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: bold;

}
.post-review-btn-icon{
  width: 60%;
}


.btn-primary{
  width: 200px;
  border-radius: 20px;
  font-weight: bold;
  border: 3px solid white;
  background-color: #663333;

}



/* ロゴ＆検索画面（終） */

/* 投稿一覧（始） */
.main-second {
  width: 100vw;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reviwes{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.review{
  background-color: white;
  width: 900px;
  height: 300px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  
}

.review-top{
  border-bottom:black;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.user-name{
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: 20px;
}
a.user-name-color{
  color: #0066CC;
}

.wine-date{
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
  color: #757575;
}

.wine-name{
  max-width: 100%;
  font-size: clamp(14px, 2.5vw, 18px);
  white-space: normal;
  overflow-wrap: break-word;
  
}

a.wine-name-color{
  color:  #0066CC;
}


.review-content{
  display: flex;
  padding: 10px;
  font-size: 20px;
  position: relative;
}

.review-text{
  margin-left: 30px;
  width: 80%;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 10px;
}



.avatar{
  width: 80px;
  height: 80px; 
  border-radius: 50%;
  margin: 5px 0 0 10px;
}

.review-image{
  width: 190px;
  height: 190px;
  margin-left: 10px;
}

.link-to-show{
  font-size: 14px;
  display: flex; 
  position: absolute;
  top: 170px;
  left: 840px;
}
.edit-link {
  color: #757575;
  margin-right: 10px;
}

.delete-link {
  color: #757575;
  margin-right: 10px;
}

.show-link {
  color: #757575;
  margin-right: 10px;
}


.edit-link:hover, .delete-link:hover, .show-link:hover {
  color: black;
}



/* 投稿一覧（終） */

/* フッター（始） */
footer {
  height: 70px;
  width: 100vw;
  background-color:#663333;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* フッター（終） */
