.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}


.wine-info p {
  font-size: 16px;
  color: #555;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-upload-container {
  display: flex;
  align-items: center; /* 中央揃え */
  gap: 20px; /* 20pxの間隔を設ける */
}

.image-upload-group label {
  display: block;
  margin-bottom: 10px; /* ラベルと入力フィールドの間隔 */
}

.image-upload-group input[type="file"] {
  flex-grow: 1;
}

.image-upload-group img {
  display: none; /* JavaScriptで表示を切り替える */
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.fragrance-category {
  margin-bottom: 15px;
}

.fragrance-item label {
  display: flex;
  align-items: center;
}

.fragrance-item input[type="checkbox"] {
  margin-right: 5px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #663333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.fragrance-select-btn {
  padding: 6px 12px; /* 高さのパッディングはそのまま、横のパッディングは元の半分に */
  background-color: #34495E; /* 深いネイビーブルー色 */
  font-size: 14px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  width: 30%;

}

.close {
  cursor: pointer;
}

.attributes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Space evenly within container */
}

.attribute-row {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Space evenly within row */
  margin-bottom: 20px; /* Space between rows */
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%; /* Each attribute group takes about 45% of container */
  padding: 0 10px; /* Padding within group */
  margin-bottom: 20px;
}

.attribute-label {
  margin-bottom: 10px; /* Space between label and options */
}

.radio-options {
  display: flex;
  align-items:center;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Space between radio buttons */
}
