/* Container Styles */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title Styles */
.title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px; /* スマートフォン等では文字の大きさを小さくする */
  }
}
/* Wine Information Styles */
p {
  font-size: 16px;
  color: #555;
  
}

/* Form Group Styles */
.form-control{
  width: 50%;        /* 全幅を使う */
  padding: 8px 12px;  /* パディングを調整 */
  border: 1px solid #ccc; /* 境界線のスタイル */
  border-radius: 4px; /* 角を丸く */
}

.form-row {
  display: flex;
  justify-content: start;
  gap: 20px; /* アイテム間のスペース */
}
.form-group {
  padding: 0 10px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Image Upload Styles */
.image-upload-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-upload-group label {
  display: block;
  margin-bottom: 10px;
}

.image-upload-group input[type="file"] {
  flex-grow: 1;
}

.image-upload-group img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Modal Styles */
.modal-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

/* Fragrance Selection Styles */
.fragrance-category {
  margin-bottom: 15px;
}

.fragrance-category h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.fragrance-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* PCでは4列に設定 */
  gap: 10px;
  margin-bottom: 20px;
}

.fragrance-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex-direction: row;
}

.fragrance-item label {
  display: flex;
  align-items: center;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  flex-grow: 1;
  justify-content: flex-start;
  font-size: 14px; /* 文字の大きさを小さくする */
}

.fragrance-item input[type="checkbox"] {
  margin-right: 10px;
}

/* Media Query for Smaller Screen Sizes */
@media (max-width: 768px) {
  .fragrance-items-container {
    grid-template-columns: repeat(2, 1fr); /* スマートフォン等では3列に設定 */
  }

  .fragrance-category h4 {
    font-size: 12px; /* カテゴリーの見出しの文字の大きさを調整 */
  }
}
/* Button Styles */
.submit-btn,
.fragrance-select-btn {
  padding: 10px;
  background-color: #663333; /* Submit button */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.fragrance-select-btn {
  background-color: #34495E; /* Deep navy blue */
  font-size: 14px;
  width: 30%;
}

.close {
  cursor: pointer;
}

/* Attributes Container Styles */
.attributes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.attribute-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.attribute-label {
  margin-bottom: 10px;
}

.radio-options {
  display: flex;
  align-items: center;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
