.sign-in-main {
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
}


.sign-in-main h2{
  font-weight: bold;
  margin-top: 50px;
  font-size: 24px;
}
.sign-in-form {
  width: 50%;
  height: auto;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px; 
  margin: 30px 0 50px 0;
}

.form-header {
  margin-bottom: 20px;

  }
  .field {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .field input[type="text"],
  .field input[type="email"],
  .field input[type="password"],
  .field textarea {
    width: 100%; 
    padding: 5px;
    border: solid 1px #CCCCCC;
    outline: none;
    border-radius: 5px;
  }

  .field label {

    
  }
  .sign-in-form .actions {
    text-align: center;
  }
  
  .custom-button {
    width: 50%;
    height: auto;
    border: none;
    padding: 10px;
    background-color: #34495E;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }
