<%= render "shared/header" %>

<% if @wines.present? %>
  <% @wines.each do |wine| %>
    <div class="search-result-index">
      <h3>ワイン名：<%= wine.name %></h3>
      <h3>生産者：<%= wine.producer %></h3>
    </div>
  <% end %>
<% else %>
  <p>検索結果がありません。</p>
<% end %>


<%= render "shared/footer" %>